body {
  margin: 0px;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container__wrapper {
  margin: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  perspective: 500px;
}
